numpy
scikit-learn
scikit-image
matplotlib

tensorflow[and-cuda]
keras==2.15.0
keras_applications==1.0.8
classification_models_3D==1.0.10
efficientnet-3D
segmentation_models_3D

patchify
jupyter
tqdm
imagecodecs
opencv-python

--extra-index-url=https://download.pytorch.org/whl/cu121
torch==2.2.1 
torchvision==0.17.1 
segmentation_models_pytorch_3d