numpy
scikit-learn
scikit-image
matplotlib
tqdm
imagecodecs
opencv-python

--extra-index-url=https://download.pytorch.org/whl/cu121
torch==2.1.1 
torchvision==0.16.1 
segmentation_models_pytorch_3d

pytorch_lightning==1.9.5
pandas
split-folders[full]

beartype
einops
ipykernel
x-unet

stardist
tensorflow[and-cuda]
albumentations